@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}

.wrap {
  width: 500px;
}

$height: 46px;

.select {
  position: relative;
  width: 100%;

  &.open {
    .select__dropdown {
      display: block;
    }
  }

  &__input {
    border: 1px solid #ccc;
    height: $height;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }

  &__dropdown {
    position: absolute;
    top: $height;
    left: 0;
    right: 0;
    max-height: 200px;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 30%);
    // overflow-y: auto;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 4px;
    display: none;
  }
}